{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extrahead %}
{% block content %}
<script src="https://unpkg.com/magic-grid@3.1.2/dist/magic-grid.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/4.0.11/dotdotdot.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-router"></script>
<script src="https://unpkg.com/vuex"></script>
<div class="container">
    <div id="app" v-cloak>        
        <post-list v-bind:posts="posts"></post-list>
    </div>

    <template id="post-list-template">
        <div  class="container-post">
            <post 
                v-for="post in posts"
                v-bind:post="post"
                :key="post.slug"
            ></post>
         
        </div>
    </template>

    <template id="post-template">
        <div class="post mb-4 overflow-hidden">

            <div class="w-100 d-flex flex-row" v-if="post.images.length">                
                <div class="flex-grow-1">
                    <img class="w-100 post-images" v-for="image in post.images" :key="image.url" v-bind:src="image.url" />
                </div>                
            </div>


            <h2 class="post-title" v-html="post.title"></h2>
            <div class="post-content" v-html="post.content"></div>

            <div class="tags p-3" v-if="post.tags.length > 0">            
                <a class="tag badge badge-pill badge-dark font-weight-normal mr-3" v-for="tag in post.tags" :key="tag.slug" v-bind:href="'tag/' + tag.slug" v-html="tag.title"></a>
            </div>
        </div>
    </template>
</div>
<script src="{% static 'js/index.js' %}"></script>
{%endblock%}