{% extends "base.html" %} {% block content %}

<script src="https://unpkg.com/magic-grid@3.1.2/dist/magic-grid.min.js"></script>

{% block header %} {% include 'header.html' %} {% endblock header %}
<div class="container">

    <!-- Blog Entries Column -->
    <div class="container-post">
        {% for post in post_list %}
        <a class="post mb-4" href="{% url 'post_detail' post.slug  %}">
            {% if post.title %}
                <h2 class="post-title">{{ post.title }}</h2>
            {% endif %}
            <div class="post-content">{{ post.content| safe }}</div>
            
        </a> {% endfor %}
    </div>
</div>

<script>
    let magicGrid = new MagicGrid({
        container: '.container-post',
        animate: true,
        gutter: 15,
        static: true,
        useMin: true
    });

    magicGrid.listen();
</script>
{%endblock%}