{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extrahead %}
{% block content %}
<script src="https://unpkg.com/magic-grid@3.1.2/dist/magic-grid.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/4.0.11/dotdotdot.js"></script>
<div class="container">

    <!-- Blog Entries Column -->
    <div class="container-post">
        {% for post in posts %}
        <div class="post mb-4 overflow-hidden" data-post-slug="{{ post.slug }}">
            <!-- post images -->
            {% if post.images.all.count > 0 %}
                <div class="w-100 d-flex flex-row">
                    {% for image in post.images.all %}
                    <div class="flex-grow-1">
                        <img class="w-100" src="{{ image.img_file.url }}" />
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            <!-- end post images -->

            {% if post.title %}
            <h2 class="post-title">{{ post.title }}</h2>
            {% endif %}


            <div class="post-content">{{ post.content| safe }}</div>

            <!-- post tag -->
            {% if post.tag.all.count %}
            <div class="p-3">
                <div class="tags">
                    {% for tag in post.tag.all %}
                    <a href="{% url 'tag_detail' tag.slug %}"
                        class="tag badge badge-pill badge-dark font-weight-normal">{{ tag }}</a>
                    {% endfor %}
                </div>                
            </div>
            {% endif %}
            <!-- end post tag -->
        </div>
        {% endfor %}
    </div>
</div>

<script>
    let magicGrid = new MagicGrid({
        container: '.container-post',
        animate: true,
        gutter: 15,
        static: true,
        useMin: true
    });

    magicGrid.listen();

    $(".post-content").dotdotdot();

    $('.post').click(function (event) {
        let slug = $(this).data().postSlug;

        if (!event.target.className.includes('tag')) {
            window.location.href = slug
        }
    });

</script>
{%endblock%}